/*
font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Sniglet', cursive;
*/

/* -webkit-box-shadow: 0px 2px 10px 1px rgba(8,0,8,0.5);
   -moz-box-shadow: 0px 2px 10px 1px rgba(8,0,8,0.5);
   -box-shadow: 0px 2px 10px 1px rgba(8,0,8,0.5);
*/   
